.collections {
    width: 95vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.collectionsGrid {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.collectionsGrid img {
    height: 100%;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    cursor: pointer;
    transition: transform .5s ease;
}

.collectionsGrid:hover img {
    transform: scale(1.2);
}

.collectionsTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 26px;
    transform: translate(-50%, -50%);
}