{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>RomTatay</title>
</head>

<body>
    <!-- header -->
    <header>
        <div class="social"> <span>Follow us on: </span>
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-youtube"></i>
        </div>
        <div class="private">PRIVATE AREA</div>
        <div class="language">ENGLISH</div>
    </header>
    <!-- navbar -->
    <div class="navbar">
        <nav>
            <div class="logo"><img src="{% static 'main/images/logo.png' %}" alt=""></div>
            <div class="hamburger"><i class="fa fa-bars" onclick="hamburger()"></i></div>
            <div class="navigation">
                <ul>
                    <li class="bath"><a href="{% url 'bath' %}"><span class="tweaks"><i class="fa fa-tint"></i></span> Baie</a></li>
                    <li class="garden"><a href="{% url 'gardening' %}"><span class="tweaks">&#10048;</span> Gradinarit</a></li>
                    <li class="house"><a href="{% url 'household' %}"><span class="tweaks"><i class="fa fa-home"></i></span> Menaj</a></li>
                </ul>
            </div>
            <!-- Sarch form -->
            <div class="search">
                <form class="example" action="action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- mobile navbar -->
            <div class="mobile-hamburger"><i class="fa fa-bars" onclick="mobileHamburger()"></i></div>
            <!-- end mobile navbar-->
        </nav>
    </div>

    <!-- dropdown-->
    <div class="dropdown drop" id="dropdown">
        <ul>
            <li>
                <a href="">BAIE</a>
            </li>
            <li>
                <a href="">GRADINARIT</a>
            </li>
            <li>
                <a href="">MENAJ</a>
            </li>
            <li>
                <a href="">DESPRE ROMTATAY</a>
            </li>
            <li>
                <a href="">CONTACT</a>
            </li>
        </ul>
    </div>

    <div class="mobileNav drop" id="mobileDrop">
        <div class="mobileNavigator">
            <ul class="dropDowns">
                <li><span><i class="fa fa-plus"></i></span>Products
                    <ul class="drop">
                        <li><span><i class="fa fa-plus"></i></span>Bath
                            <div class="drop">
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Wall Collections
                                        <ul class="drop">
                                            <li>Aluminium wall collections</li>
                                            <li>Chrome wall collections</li>
                                            <li>Plastic wall collections</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Bathroom Collections
                                        <ul class="drop">
                                            <li>Ceramic table top collections</li>
                                            <li>Plastic table top collections</li>
                                            <li>Poli-resin table top collections</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Bathroom Accesories
                                        <ul class="drop">
                                            <li>Mirrors</li>
                                            <li>Fixing Kits</li>
                                            <li>Paper holders</li>
                                            <li>Stool and benches</li>
                                            <li>Kits de fijacion quick fix</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Shower Accesories
                                        <ul class="drop">
                                            <li>Anti-slip Mats</li>
                                            <li>Shelves</li>
                                            <li>Shower Curtain</li>
                                            <li>Safety elements</li>
                                            <li>Shower platforms</li>
                                            <li>Airer</li>
                                            <li>Towel rails</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Hydrotherapy
                                        <ul class="drop">
                                            <li>Shower accesories</li>
                                            <li>Shower rods</li>
                                            <li>Shower coluns</li>
                                            <li>Shower hoses</li>
                                            <li>Shower kits</li>
                                            <li>Kits shattafa</li>
                                            <li>Handshower</li>
                                            <li>Head shower</li>
                                            <li>Shower brackets</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Sanitary/Hygiene
                                        <ul class="drop">
                                            <li>WC Toilets seats</li>
                                            <li>WC Accesories</li>
                                            <li>Dust bins</li>
                                            <li>Toilet brush WC</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Bathroom Storage
                                        <ul class="drop">
                                            <li>Cabinets</li>
                                            <li>Auxiliary trolleys</li>
                                            <li>Shelves</li>
                                            <li>Fixing kits</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><span><i class="fa fa-plus"></i></span>Gardening
                            <div class="drop">
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Garden Accesories
                                        <ul class="drop">
                                            <li>Letterboxes</li>
                                            <li>Garden showers</li>
                                            <li>Tools</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span><i class="fa fa-plus"></i></span>Irrigation
                                        <ul class="drop">
                                            <li>Sprinkles</li>
                                            <li>Hose accesories</li>
                                            <li>Irrigation connectors</li>
                                            <li>Irrigation kits</li>
                                            <li>Nozzles and spray guns</li>
                                            <li>PVC Hoses</li>
                                            <li>Programmers and water timers</li>
                                            <li>Regadera y pulverizadores</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li><span><i class="fa fa-plus"></i></span>Household
                            <div class="drop">
                                <ul><span><i class="fa fa-plus"></i></span>Kitchen
                                    <ul class="drop">
                                        <li>Kitchen Accesories</li>
                                        <li>Kitchen Cannisters</li>
                                        <li>Dinner Service</li>
                                        <li>Foot Containers</li>
                                        <li>Kitchen Ustensils</li>
                                    </ul>
                                </ul>
                                <ul><span><i class="fa fa-plus"></i></span>Cleaning
                                    <ul class="drop">
                                        <li>Washing and Buckets</li>
                                        <li>Dust Bins</li>
                                        <li>Mop Buckets</li>
                                        <li>Cleaning Ustensils</li>
                                        <li>Accesories Limpieza</li>
                                    </ul>
                                </ul>
                                <ul><span><i class="fa fa-plus"></i></span>Storage
                                    <ul class="drop">
                                        <li>Storage Boxes</li>
                                        <li>Baskets and Organizers</li>
                                        <li>Shelves</li>
                                        <li>Bathcupboards</li>
                                    </ul>
                                </ul>
                                <ul><span><i class="fa fa-plus"></i></span>Take away
                                    <ul class="drop">
                                        <li>Lunch Box</li>
                                        <li>Urban food</li>
                                    </ul>
                                </ul>
                                <ul><span><i class="fa fa-plus"></i></span>Laundry
                                    <ul class="drop">
                                        <li>Laundry Hampers</li>
                                        <li>Laundry Baskets</li>
                                    </ul>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>About Tatay</li>
                <li>Contact</li>
                <li>Private Area</li>
                <li>Language</li>
            </ul>
        </div>
        <div class="mobileSocial">
            <p>Follow us on:</p>
        </div>
    </div>

    {% block container %} {% endblock %}
    <!-- footer -->
    <footer>
        <div class="footer-about">
            <img src="{% static 'main/images/logo.png' %}" alt="">
            <p>Romtatay SA este o societate mixta romano-spaniola, certificata ISO 9001 - 2000, infiintata in 1992, specializata in fabricarea produselor din material plastic realizate prin tehnologia de injectie.</p>
        </div>
        <div class="footer-partners">
            <h3>PARTENERI</h3>
            <hr>
            <ul>
                <li>Artsani</li>
                <li>Auchan</li>
                <li>Brico Depot</li>
                <li>Carrefour</li>
                <li>Cora</li>
                <li>Dedeman</li>
                <li>Mr. Bricolage</li>
                <li>Selgros</li>
            </ul>
        </div>
        <div class="footer-menu">
            <h3>Meniu</h3>
            <hr>
            <ul>
                <li>Acasa</li>
                <li>Promotii RomTatay</li>
                <li>Produse RomTatay</li>
                <li>Parteneri</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>Contact</h3>
            <hr>
            <p>Bucuresti, Str. Lt. Nicolae Pascu, nr. 81, sector 3, cod postal 032073</p>
            <p>romtatay@romtatay.ro</p>
            <p>021.252.79.48</p>
            <p>021.252.79.46</p>
        </div>
    </footer>
    <!-- end footer -->

    <script src="{% static 'main/js/jquery.2.min.js' %}"></script>
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/jquer.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>