{% extends 'base.html' %} {% load static %} {% block container %}

<link rel="stylesheet" href="{% static 'main/css/categories.css' %}">

<div class="collections">

    <div class="collectionsGrid">
        <a href="">
            <img src="{% static 'main/images/wall.jpg' %}" alt="">
            <div class="collectionsTitle">Wall Collections</div>
        </a>
    </div>

    <div class="collectionsGrid">
        <a href=""> <img src="{% static 'main/images/bathroomCollection.jpg' %}" alt="">
            <div class="collectionsTitle">Bathroom Collections</div>
        </a>

    </div>

    <div class="collectionsGrid">
        <a href="">
            <img src="{% static 'main/images/bathroomAccesories.jpg' %}" alt="">
            <div class="collectionsTitle">Bathroom Accesories</div>
        </a>
    </div>

    <div class="collectionsGrid">
        <a href="">
            <img src="{% static 'main/images/showerAccesories.jpg' %}" alt="">
            <div class="collectionsTitle">Shower Accesories</div>
        </a>
    </div>

    <div class="collectionsGrid">
        <a href="">
            <img src="{% static 'main/images/hydrotherapy.jpg' %}" alt="">
            <div class="collectionsTitle">Hydrotherapy</div>
        </a>
    </div>

    <div class="collectionsGrid">
        <a href="">
            <img src="{% static 'main/images/sanitary.jpg' %}" alt="">
            <div class="collectionsTitle">Sanitary / Hygiene</div>
        </a>
    </div>

    <div class="collectionsGrid">
        <a href="">
            <img src="{% static 'main/images/bathroomStorage.jpg' %}" alt="">
            <div class="collectionsTitle">Bathroom Storage</div>
        </a>
    </div>

</div>

{% endblock container %}